[Unit]
Description=Bot: Pve helper for VK group
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/opt/pve_helper
Environment=PYTHONPATH=/var/opt/pve_helper/venv/bin:$PATH
ExecStart=/var/opt/pve_helper/venv/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target